body, html{height:100%}
#first_grid{
    /* background: #7e8aa7; */
}
#second_grid{
    background: #1a3573;
    height: 55vh;
}
#chartContainer{
    height: 55vh;
    width : 100%;
}
video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -100;
    object-fit: fill;
}
header{
    width: 100%;
    height: 500px;
    padding-bottom: 15%;
    position: relative;
}

#projects{
    height: 70vh;
    margin-bottom: 0;
    background: #40578b;
}

#selfie_about{
    border-radius: 50%;
    width: 300px;
    height: 400px;
}

#table-holder{
    height: 45vh;
}
.w3-panel{
    margin-top: 0;
}
table{
    table-layout: fixed;
    overflow-y: scroll;
    display: table;
    width: 100%;
}
.w3-content{
    overflow: auto;
}

.w3-top{
    /* background: #40578b; */
    background: #295CBB;

}

#iframe_holder{
    height: 100%;
}
#close_iframe{
margin: 16px;
}
iframe{
    height: 100%;
    width: 100%;
}
#date_project{
    padding-right: 20px;
}
