body, html{height:100%}
body,h1,h2,h3,h4,h5,h6,p {font-family: "Open Sans", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-coffee {font-size:200px}
.fa-file-code-o{ font-size: 250px;}

a{
    text-decoration: none !important;
    font-weight: 700 !important;
}

#logo{
    height: 43px;
    width: 43px;
}

#name{
    font-family: 'Satisfy', cursive;
}
.w3-bar-item{
    height: 100%;
}

#second_grid{
    background: #1a3573;
    height: 60vh; 
    padding: 0px 40px;
}
#skill_chart{
    height: 100%;
}
video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -100;
    object-fit: fill;
}
header{
    width: 100%;
    height: 500px;
    padding-bottom: 15%;
    position: relative;
}

#projects{
    height: 70vh;
    margin-bottom: 0;
    background: #40578b;
}

#selfie_about{
    border-radius: 20%;
}
#image_holder{
    height: 100%;
}

#table-holder{
    height: 52vh;
}
.w3-panel{
    margin-top: 0;
}
table{
    table-layout: fixed;
    overflow-y: scroll;
    display: table;
    width: 100%;
    height: 100%;
}
.w3-content{
    overflow: auto;
}

.w3-top{
    /* background: #40578b; */
    background: #295CBB;

}

#iframe_holder{
    height: 100%;
}
#close_iframe{
margin: 16px;
}
iframe{
    height: 100%;
    width: 100%;
}
#date_project{
    padding-right: 20px;
}

#quote_holder{
    height: 25vh;
}

@media screen and ( max-width: 767px ) {
    img.responsive { width: 100%;
        height: 375px;
        margin-bottom: 30px;
     }
    }

@media screen and ( min-width: 768px ) {
    img.responsive { width: 450px;
        margin-bottom: 30px;
        margin-top: 10px;
         height: 600px; }

    .fa-file-code-o {
       font-size: 125px;
    }
    }

@media screen and ( min-width: 992px ) {
    img.responsive { width: 600px;
            height: 700px;
            margin-bottom: 30px;
            margin-top: 10px; }
    }

@media screen and ( min-width: 1200px ) {
    img.responsive { width: 600px;
            height: 700px;
            margin-bottom: 30px;
            margin-top: 10px; }
    }